doctype html
html
  head
    title Colloquium
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/all.min.css')
    block extras
  body
    block content
