extends layout

block extras
    link(rel='stylesheet', href='/stylesheets/overview.css')
    script(src='/javascripts/overview.js')

block content
    div#mainwrapper
        nav
            h2 Colloquium
            ul
                li.showForm(value='-1') New Competitor
                li Start Session
                li 
                    a(href="/auth/logout") Logout
        main
            h2 Competitors
            table
                tr
                    th Surename
                    th Lastname
                    th Sessions
                    th
                if competitors
                    each competitor in competitors
                        tr
                            td(id=`competitor_${competitor.id}_surename`)= competitor.surename
                            td(id=`competitor_${competitor.id}_lastname`)= competitor.lastname
                            //td= competitor.numberOfSessions
                            td TODO
                            td
                                i.fas.fa-pencil-alt.showForm(value=competitor.id)
                                i.fas.fa-trash-alt.deleteCompetitor(value=competitor.id)
            div#formular                    
                form(action="/overview", method="POST")
                    input.hidden(id='input_send',type="submit")
                    input.hidden(id='input_id', type="number", name="competitorid", value='-1')
                    div
                        label(for="surename") Surename
                        input(id="surename", type="text", name="surename", value='')
                    div
                        label(for="lastname") Lastname
                        input(id="lastname", type="text", name="lastname", value='')
                div.buttongroup
                    i.fas.fa-check-circle#formOk                    
                    i.fas.fa-times-circle#formCancel
                p#info