extends layout

block extras
    link(rel='stylesheet', href='/stylesheets/overview.css')

block content
    div#mainwrapper
        nav
            h2 Colloquium
            ul
                li New Competitor
                li Start Session
                li 
                    a(href="/auth/logout") Logout
        main
            h2 Competitors
            table
                tr
                    th Surename
                    th Lastname
                    th Sessions
                    th
                if competitors
                    each competitor in competitors
                        tr
                            td= competitor.surename
                            td= competitor.lastname
                            //td= competitor.numberOfSessions
                            td TODO
                            td
                                i.fas.fa-pencil-alt
                                i.fas.fa-trash-alt
            div#formular                    
                form(action="/overview", method="PUT")
                    input.hidden(type="submit")
                    input.hidden(type="number", name="competitorid")
                    div
                        label(for="surename") Surename
                        input(id="surename", type="text", name="surename")
                    div
                        label(for="lastname") Lastname
                        input(id="lastname", type="text", name="lastname")
                div.buttongroup
                    i.fas.fa-check-circle#formOk                    
                    i.fas.fa-times-circle#formCancel