body{
    margin: 20vh auto auto auto;
    width: 50vw;
    background: var(--bgComponent);
    padding: 8px;
}
div{
    font-size: 1.2rem;
    display: flex;
    margin-bottom: 4px;
    padding: 4px;
}
i{
    border-left: var(--border);    
    color: var(--fgHeader);
    flex: 1;    
}
input{
    flex: 9;
}