#formular{
    display: none;
    position: sticky;
    bottom: 0;
    margin: 1% auto;
    width: 98%;
    background: var(--bgComponent);
}
#mainwrapper{
    display: flex;
}
.buttongroup{
    display: flex;
}
.buttongroup > i{
    flex: 1;
}
.hidden{
    display: none;
}
nav{
    flex: 3;
    background: var(--bgComponent);
}
main{
    flex: 8;
    background: var(--bgPrimary);
}
nav, main{
    height: 100vh;
}
ul{
    margin: auto;
    padding: 0;
}
li{
    display: block;
    font-size: 1.2rem;
    width: 80%;
    margin: auto;
    padding: 8px;
}
li:hover{
    background: var(--fgHeader);
    color: var(--bgComponent);
    cursor: pointer;
}
table{
    background: var(--bgComponent);
    border: 0;
    border-collapse: collapse;
    margin: auto;
    width: 98%;
}
th, td{
    padding: 8px;
}
th{
    border-bottom: 4px solid var(--fgHeader);
}
td{
    text-align: center;
}
i{
    font-size: 1.3rem;
}
i:hover{
    background: var(--fgHeader);
    color: var(--bgComponent);
    cursor: pointer;
}
form > div{
    display: flex;
}
label, input{
    margin: 8px 8px 0 8px;
}
input{
    flex: 9;
}