@import url('https://fonts.googleapis.com/css?family=Roboto');

:root{
  --bgComponent: #000;
  --bgPrimary: #242424;
  --fgHeader: #bf0000;
  --fgPrimary: #d8d8d8;
}

html{
  background: var(--bgPrimary);
  color: var(--fgPrimary);
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6{
  text-align: center;
  color: var(--fgHeader);
}

a{
  color: inherit;
  text-decoration: none;
}
input{
  border: none;
  font-size: inherit;
}
input[type='text'], input[type='password']{
  color: inherit;
  background: var(--bgPrimary);
}
input[type='submit']{
  color: var(--fgHeader);
  background: transparent;
  cursor: pointer;
}
input[type='submit']:hover{
  background: var(--fgHeader);
  color: var(--bgComponent);
}
i{
  text-align: center;
  font-size: inherit;
}
i, input{
  padding: 6px;
}